<!-- Post Content Column -->
<div>
  <!-- Title -->
  <h1 class="mt-4">{{Post.title}}</h1>
  <!-- Author -->
  <p class="lead">
    By<a href="#">{{Post.author}}</a> | {{Post.date}} | {{ Post.ctitle }}
  </p>
  <hr>

  <!-- Post Content -->
  <p id="froala-editor" class="lead"><span [innerHTML]="Post.description | sanitizeHtml"></span></p>
  <hr>


  <disqus [identifier]="'mirajehossain/'+Post.id"></disqus>
  <!--<a class="fb-comments" data-href="http://mirajehossain.com/{{Post.id}}" data-numposts="4">-->
  <!--</a>-->

</div>
