
<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <!-- Blog Post -->
      <div class="card mb-4 my-4">


              <form class="form-horizontal" action="" method="post">
                <fieldset>
                  <legend class="text-center card-header">Contact Me</legend>

                  <!-- Name input-->
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Name</label>
                    <div class="col-md-9">
                      <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                    </div>
                  </div>

                  <!-- Email input-->
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Your E-mail</label>
                    <div class="col-md-9">
                      <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                    </div>
                  </div>

                  <!-- Message body -->
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="message">Your message</label>
                    <div class="col-md-9">
                      <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                    </div>
                  </div>

                  <!-- Form actions -->
                  <div class="form-group">
                    <div class="col-md-12 text-right">
                      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
        </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <!--<ul *ngFor="let category of categories" class="list-unstyled mb-0 ">

                <li >
                  <a href="#">{{category}}</a>

                </li>
-->

              <!--</ul>-->
            </div>
            <!-- <div class="col-lg-6">
               <ul class="list-unstyled mb-0">
                 <li>
                   <a href="#">MODELS</a>
                 </li>
                 <li>
                   <a href="#">LifeStyle</a>
                 </li>
                 <li>
                   <a href="#">Uncatalogued</a>
                 </li>
               </ul>
             </div>-->
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
