/*@import url('https://fonts.maateen.me/charu-chandan-hard-stroke/font.css');*/
/*@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');*/
/*@import url('https://fonts.maateen.me/adorsho-lipi/font.css');*/
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
/*@import "~prismjs/themes/prism-okaidia";*/


body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.bangla-font{
  font-family: 'AdorshoLipi', sans-serif;
}
